.loader{
    display: flex;
    width: 100%;
    background: #f0f8ffa3;
    position: fixed;
    height: 99vh;
    top: 0px;
    left: 0px;
    z-index: 100;
    align-items: center;
    justify-content: center;
}
.search{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.search > div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}
.search  input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #006FBF;
    color: #006FBF;
    font-weight: bold;
    cursor: pointer;
}
.button button{
    width:200px;
    text-align: center;
    color: white;
    height: 42px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #006FBF;
    background-color: #006FBF;
    margin-top: 20px;
}
.total{
    margin: 10px;
    font-size: 18px;
}
.total b {
    color: #006FBF;
    font-weight: bolder;
}