body{
    overflow-x: hidden;
}
.paginationbtns{
    width: 100%;
    padding: 0;
    margin: 0;
    height:20px;
    list-style: none;
    display: flex;
    justify-content:flex-end;
    /* margin-right: 20px; */
    /* overflow: hidden; */
}

.paginationbtns a{
    margin: 2px;
    color:white;
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #838383;
}

.paginationbtns a:hover{
    color: white;
    background-color: #0071C2;
}
.paginationactive a{
    color: white;
    background-color: #0071C2;
}
.logo {
    font-size: 25px;
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.logo>a {
    text-decoration: none;
    color: white;
}

.logo>a span:last-child {
    color: rgb(7, 150, 255);
}
.loader{
    display: flex;
    width: 100%;
    background: #f0f8ffa3;
    position: fixed;
    height: 99vh;
    top: 0px;
    left: 0px;
    z-index: 100;
    align-items: center;
    justify-content: center;
}